<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kazehackstats">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".KazeHackStatsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KazeHackStats">
        <activity
            android:name=".domain.LigueChoosed"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".domain.MainActivity" />
        <activity android:name=".domain.PremiereLeague" />
        <activity android:name=".domain.Bundesliga" />
        <activity android:name=".domain.LaLiga" />
        <activity android:name=".domain.SerieA" />
        <activity android:name=".domain.Ligue1" />
        <activity android:name=".domain.Championship" />
        <activity android:name=".domain.Eredivisie" />
        <activity android:name=".domain.JupilerPro" />
        <activity android:name=".domain.LigaPortugal" />
        <activity android:name=".domain.ShotsStandings" />
        <activity android:name=".domain.HomeShotsOnGoalStandings" />
        <activity android:name=".domain.HomeShotsStandings" />
        <activity android:name=".domain.HomeThrowsInStandings" />
        <activity android:name=".domain.ShotsOnGoalStandings" />
        <activity android:name=".domain.CornersStandings" />
        <activity android:name=".domain.HomeCornersStandings" />
        <activity android:name=".domain.ThrowsInStandings" />
        <activity android:name=".domain.SavesStandings" />
        <activity android:name=".domain.HomeSavesStandings" />
        <activity android:name=".domain.FoulsStandings" />
        <activity android:name=".domain.HomeFoulsStandings" />
        <activity android:name=".domain.TacklesStandings" />
        <activity android:name=".domain.HomeTacklesStandings" />
        <activity android:name=".domain.AwayShotsOnGoalStandings" />
        <activity android:name=".domain.AwayShotsStandings" />
        <activity android:name=".domain.AwayThrowsInStandings" />
        <activity android:name=".domain.AwayCornersStandings" />
        <activity android:name=".domain.AwaySavesStandings" />
        <activity android:name=".domain.AwayTacklesStandings" />
        <activity android:name=".domain.AwayFoulsStandings" />
        <activity android:name=".domain.NBA" />
        <activity android:name=".domain.TwoPtsStandings" />
        <activity android:name=".domain.HomeTwoPtsStandings" />
        <activity android:name=".domain.AwayTwoPtsStandings" />
        <activity android:name=".domain.ThreePtsStandings" />
        <activity android:name=".domain.HomeThreePtsStandings" />
        <activity android:name=".domain.AwayThreePtsStandings" />
        <activity android:name=".domain.ReboundsStandings" />
        <activity android:name=".domain.HomeReboundsStandings" />
        <activity android:name=".domain.AwayReboundsStandings" />
        <activity android:name=".domain.AssistsStandings" />
        <activity android:name=".domain.HomeAssistsStandings" />
        <activity android:name=".domain.AwayAssistsStandings" />
        <activity android:name=".domain.AddFootballGame" />
        <activity android:name=".domain.AddBasketballGame" />
        <activity android:name=".domain.test" />
    </application>

</manifest>